# Prerequisites
*.d

# Executables
*.out
*.app

#Visual Studio stuff
.vs

#OpenCppCoverageStuff
*.log
ImperatorToCK3/.opencppcov/
ImperatorToCK3Tests/.opencppcov/

#Output folders
Release/
ReleaseIntermediate/
Release-Linux/
Debug/
DebugIntermediate/
ImperatorToCK3.UnitTests/obj/
ImperatorToCK3/obj/


log.txt
*.user
