# Prerequisites
*.d

# Executables
*.exe
*.out
*.app

#Visual Studio stuff
.vs

#PyCharm stuff
*.xml
*.iml
*.pyc

#OpenCppCoverageStuff
*.log
ImperatorToCK3/.opencppcov/
ImperatorToCK3Tests/.opencppcov/

#Output folders
Release/
ReleaseIntermediate/
Release-Linux/
Debug/
DebugIntermediate/

log.txt