name: Build

on:
  pull_request:

concurrency:
  group: ci-build-${{ github.ref }}-1
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        os: [[self-hosted, windows], [self-hosted, linux], macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    # install dependencies, build, and test
    - name: Setup Dotnet for use with actions
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '7.*'
        include-prerelease: true
    - name: "Build backend"
      run: |
        cd ImperatorToCK3
        dotnet build
    - name: "Build frontend"
      run: |
        cd Fronter.NET
        dotnet build
