name: Build

on:
  pull_request:

concurrency:
  group: ci-build-${{ github.ref }}-1
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        os: [[self-hosted, windows], [self-hosted, linux], macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: "Build converter backend"
      working-directory: ImperatorToCK3
      run: |
        dotnet build
