name: Bump version
on:
  push:
    branches:
      - master
jobs:
  bump_tag:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: '0'
    - name: "Bump version and push tag"
      uses: anothrNick/github-tag-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.API_TOKEN_GITHUB }}
        DEFAULT_BUMP: none
        WITH_V: false
