name: "Find braces mismatches"
on: [push]
jobs:
  find_braces_mismatches:
    runs-on: [self-hosted, linux]
    steps:
      - uses: actions/checkout@v5
      - name: "Download and run script"
        run: |
          cd ImperatorToCK3/Data_Files/blankMod/output
          wget https://raw.githubusercontent.com/IhateTrains/braces-mismatch-finder/main/bracket_script.py &&
          echo "Script downloaded" &&
          python3 bracket_script.py
