name: Check spelling
on: [pull_request]
jobs:
  misspell:
    name: Check spelling
    runs-on: [self-hosted, linux]
    steps:
      - uses: actions/checkout@v6
      - name: Check spelling
        uses: reviewdog/action-misspell@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          locale: "US"
          reporter: github-pr-review
          level: warning
