name: "Test"

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ci-tests-${{ github.ref }}-1
  cancel-in-progress: true

jobs:
  test_and_check_coverage:
    runs-on: [self-hosted, linux]
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: recursive
    - name: "Setup Dotnet for use with actions"
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '7.*'
        include-prerelease: true
    - name: "Test"
      working-directory: ImperatorToCK3.UnitTests
      run: |
       dotnet test -p:CollectCoverage=true -p:CoverletOutput="./TestResults/coverage.info" -p:CoverletOutputFormat=lcov -p:Exclude="[commonItems]*"
    - name: "Publish coverage report to coveralls.io"
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: ImperatorToCK3.UnitTests/TestResults/coverage.info


  test:
    strategy:
      matrix:
        os: [[self-hosted, windows], macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: recursive
    - name: "Setup Dotnet for use with actions"
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '7.*'
        include-prerelease: true
    - name: "Test"
      working-directory: ImperatorToCK3.UnitTests
      run: |
       dotnet test
