name: "Test"

on:
  pull_request:
  merge_group:

concurrency:
  group: ci-tests-${{ github.ref }}-1
  cancel-in-progress: true

jobs:
  test_and_check_coverage:
    runs-on: [self-hosted, linux]
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive
    - name: "Setup Dotnet for use with actions"
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: global.json
    - name: "Test"
      working-directory: ImperatorToCK3.UnitTests
      shell: pwsh
      run: |
       $env:CoverletOutput='./TestResults/coverage.info'
       $env:CoverletOutputFormat='lcov'
       dotnet test /p:CollectCoverage=true
    - name: "Publish coverage report to coveralls.io"
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: ImperatorToCK3.UnitTests/TestResults/coverage.info
        format: lcov
        debug: true

  test:
    strategy:
      matrix:
        os: [[self-hosted, windows], macos-14]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive
    - name: "Setup Dotnet for use with actions"
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: global.json
    - name: "Test"
      working-directory: ImperatorToCK3.UnitTests
      run: |
       dotnet test
